* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
}

button {
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 2px 5px 2px 5px;
    color: white;
    background: black;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.2s;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

button:hover {
    color: black;
    background: white;
}